body.dark {
    background-color: #101010;
    color: white;
}

body.dark * {
    color: white;
}

body.dark .card {
    background-color: #212121;
}

body.dark .bar-frame {
    background-color: #101010;
}

body.dark .bar {
    background: #2e7d32;
}

body.dark button {
    background: #212121;
    border-color: #424242;
}