* {
    font-family: Roboto, Helvetica, Arial, sans-serif;

    --primary-color: #9ccc65;
    --bg-color: #ddd;
    --card-color: white;
    --border-color: rgba(0, 0, 0, 0.4);
    --link-color: #2e7d32;
}

body {
    background-color: var(--bg-color);
}

a {
    color: var(--link-color) !important;
}

#mainWrapper {
    display: grid;

    max-width: 1000px;
    padding: 40px;
    margin: 0 auto;
    gap: 40px;
}

#mainHeader {
    grid-area: header;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#toolbar {
    grid-area: toolbar;

    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

#plants {
    grid-area: plants;

    display: grid;
    flex: 1;
    grid-gap: 20px;
}

#attributions {
    grid-area: attributions;
}

@media only screen and (min-width: 750px) {
    #mainWrapper {
        grid-template-areas:
            "header toolbar"
            "plants plants"
            "attributions attributions";
    }

    #toolbar {
        justify-self: right;
    }

    #plants {
        grid-auto-flow: column;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media only screen and (max-width: 749px) {
    #mainWrapper {
        grid-template-areas:
            "plants"
            "toolbar"
            "attributions";
    }

    #mainHeader {
        display: none;
    }
}


button {
    position: relative;
    height: 44px;
    background-color: var(--card-color);
    border: 1px solid var(--border-color);
    border-bottom-width: 3px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px 20px;
    color: rgba(0, 0, 0, 0.7);
}

button.important {
    background-color: var(--primary-color);
}

button:active {
    border-bottom-width: 1px;
    top: 2px;
}

button:focus {
    outline: none;
}

.card {
    background-color: var(--card-color);
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.bar-frame {
    position: relative;
    border-radius: 3px;
    background-color: var(--bg-color);
    margin-top: 20px;
}

.bar {
    min-width: 0 !important;
    max-width: 100% !important;
    border-radius: 3px;
    background-color: var(--primary-color);
    padding: 5px;
    font-size: 14px;
    white-space: nowrap;
    transition: width .15s;
}

.label {
    font-size: 14px;
    opacity: 0.7;
}

.hidden {
    display: none;
}